@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-bg {
  height: 730px;
  background-image: url("/assets/hero-bg-new.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.quote-bg {
  background-image: url("/assets/hero-b2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #fafafa;
}

@media screen and (max-width: 1024px) {
  .bg-hero-bg {
    height: 700px;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .bg-hero-bg {
    height: 760px;
    background-size: cover;
  }
}
